

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App 
{
  background-color: white;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  
}

.form-container {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.form-container-content {
  padding-left: 12%;
  padding-right: 12%;
}

.card-img{
padding-top: 50px;

}

.mb-3{
  font-size:150%;
color: rgb(6, 163, 225);
}

.mb-4{
font-weight: lighter;}

.title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.table-1{
  text-align: center;
  align-items: center;
  color: rgb(3, 94, 94);
  text-shadow: #282c34;


}
.row{
  padding-top: 20px;

}
.table{
  background-color: rgb(255, 255, 255);

}
.text-center{
  font-size: 300%;
  padding-top: 20px;
  text-align: center;
  align-items: center;
  color: rgb(0, 86, 86);
  text-shadow: #282c34;
}

.btn{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
